.admin-container{
    display: flex;
    .admin_slider{
        .pro-sidebar{
            height: 100vh;
            .sidebar-btn-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .sidebar-btn {
                        transition: width 0.3s;
                        width: 150px;
                        border-radius: 40px;
                        background: rgba(255, 255, 255, 0.05);
                        color: #adadad;
                        text-decoration: none;
                        margin: 0 auto;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-overflow: ellipsis;
                        overflow: hidden;
            
                        span {
                            margin-left: 5px;
                            font-size: 13px;
                            
                        }
                        .span{
                            display: none;
                        }
            
                        &:hover {
                            color: #636262;
                        }
                    }
                }
        }
    }
    .admin-content{
            width: 100%;
            .im-menu{
                width: 100%;
                padding: 20px 10px;
                
            }
            .content{
                height: calc(100vh - 50px);
                padding: 0 10px;
            }
    }
}